<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ImGui.NET" version="1.91.6.1" targetFramework="net48" />
  <package id="Microsoft.CSharp" version="4.7.0" targetFramework="net48" />
  <package id="SharpGL" version="3.1.1" targetFramework="net48" />
  <package id="SharpGL.SceneGraph" version="3.1.1" targetFramework="net48" />
  <package id="SharpGL.WinForms" version="3.1.1" targetFramework="net48" />
  <package id="System.Buffers" version="4.6.1" targetFramework="net48" />
  <package id="System.Data.DataSetExtensions" version="4.6.0-preview3.19128.7" targetFramework="net48" />
  <package id="System.Drawing.Common" version="4.7.0" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" targetFramework="net48" />
</packages>